name: Evaluate Machine Learning Python

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: Linux

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Running the code
        run: |
          python main.py
      - uses: actions/upload-artifact@v2
        with:
          name: Results
          path: artifacts/
